---
layout: page
---

<img src="/assets/img/SMILING-BULO.jpg" alt="Smiling Calf">
<small>Photo source from Philippine Carabao Center</small>

<p> <div style="text-align: justify">
    The 1000 Buffalo Genomes Project aims to sequence 1000 water-buffaloes across different countries that would include both swamp- and river-types. Some conservation breeds such as the Calayan Island swamp buffaloes in the Philippines and the critically endangered lowland and mountain Anoas (<i>Bubalus depressicornis</i> and <i>Bubalus quarlesi</i>) in Indonesia will also be sequenced. Among the bovine species used as livestock, the water buffalo genetics especially the swamp type is probably the least explored but are important to smallholders in poorer nations. Understanding its genetics and retaining and maximizing its adaptability to harsher environments are a strategic move for food security in the face of climate change. The goal of this project is to collate SNP data from different populations to develop SNP array panel and low-pass WGS + SNP capture for genetic improvement and conservation of the water buffaloes.
</div> </p>

<p style="text-align: justify">
    The publication of the first run of the 1000 Buffalo Genomes Project is available <a href="https://doi.org/10.1093/gigascience/giae053">here</a>.
</p>

<p> <div style="text-align: justify; font-size: 20px"><b>
    SNP panels for both river and swamp buffalo is undergoing development. We will update you more in the next meeting!
</b></div> </p>
    
<img src="/assets/img/1000BGP-icon1-removebg-preview.png" alt="1000BGP-icon" width="300" class="center">
