---
layout: page
---

<h2>... website development in-progress ...</h2>

<p> <div style="text-align: justify">The 1000 Buffalo Genomes Project aims to sequence 1000 water-buffaloes (river and swamp) across different countries that would include both river- and swamp-types as well as conservation breeds. The goal of this project is to continue the water buffalo consortium, collate SNP data from different populations and use this data for subsequent development of technologies (e.g. SNP panel, low-pass WGS capture) for genetic improvement and conservation of the water buffaloes.</div> </p>
 
<p>We are planning to submit this project to the <a href="https://sapac.illumina.com/areas-of-interest/agrigenomics/community/greater-good-initiative.html">Illumina's Agricultural Greater Good Initiative</a> for a grant. Deadline of application is on
    <mark class="red">September 30, 2022</mark>.</p>